@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  color: black;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* navbar */
.navbar {
  margin: 0;
  padding: 0;
}

.navbar .container-fluid {
  background: #18447e;
}

.navbar img {
  width: 70%;
}

.navbar .dropdown-menu a:hover {
  background-color: #18447e;
  color: white;
}

.container {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.landing video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.selitys {
  position: absolute;
  bottom: 40vh;
  left: 0;
  right: 0;
  color: white;
}

.selitys h1 {
  font-weight: 700;
  font-size: clamp(1.9rem, 5vw, 4rem);
}

.selitys h1 h4 {
  font-weight: 700;
  font-size: clamp(1.4rem, 4vw, 3rem);
}

/* buttonit */
.btn {
  border-radius: 500px;
  background: #18447e;
  color: white;
}

.perus {
  padding: 5px 60px;
}

.btn-group {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 60px;
}

.btn-group img {
  width: 25px;
}

.btn-group i {
  font-size: 1.5rem;
}

.btn-group .btn {
  border-radius: 0;
  font-size: 0.7rem;
  background-color: #18447e;
  color: white;
  border: #18447e;
}

.nappi {
  margin-top: 2vh;
  background-color: #18447e;
  color: white;
}

/* sectionit alkaa */
section {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

section h4,
section h2 {
  margin-bottom: 20px;
  padding: 10px;
}

section i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

section p {
  margin-bottom: 10px;
  padding: 10px;
}

section a {
  margin-bottom: 10px;
  padding: 10px;
}

section #palvelumme {
  border-radius: 37px;
  background: #18447e;
  -webkit-box-shadow: 12px 12px 20px 5px #cfcece;
          box-shadow: 12px 12px 20px 5px #cfcece;
  border-radius: 10px;
}

section #palvelumme h2,
section #palvelumme h4 {
  color: white;
}

section #palvelumme p {
  color: white;
}

section picture {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section img {
  max-width: 70%;
}

#lupauksemme {
  border-radius: 37px;
  background: #18447e;
  -webkit-box-shadow: 12px 12px 20px 5px #cfcece;
          box-shadow: 12px 12px 20px 5px #cfcece;
  padding: 2rem;
}

#lupauksemme h2,
#lupauksemme h4 {
  color: white;
}

#lupauksemme p {
  color: white;
}

#yhteystiedot h4 {
  margin-bottom: 0;
}

#yhteystiedot img {
  max-width: 70%;
}

#yhteystiedot p {
  line-height: 0;
}

form {
  display: inline-block;
  height: 550px;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 13px 13px 26px #dedede, -13px -13px 26px #ffffff, 2px 2px 7px #6a6a6b;
          box-shadow: 13px 13px 26px #dedede, -13px -13px 26px #ffffff, 2px 2px 7px #6a6a6b;
  padding: 10px 10px;
  border-radius: 10px;
}

.field {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field label {
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  pointer-events: none;
  opacity: 0.5;
}

.field input,
.field textarea {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: inset 13px 13px 26px #dedede, inset -13px -13px 26px #ffffff;
          box-shadow: inset 13px 13px 26px #dedede, inset -13px -13px 26px #ffffff;
}

.field input:focus {
  border-bottom: 2px solid black;
}

.field input:focus + label {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 1;
}

.field textarea:focus,
.field input:focus {
  outline: none;
}

.field textarea:focus + label {
  -webkit-transform: translateY(-270px);
          transform: translateY(-270px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 1;
}

#tarinamme .btn {
  z-index: 3;
}

#tarinamme h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.shake {
  width: 70%;
}

#tiimi {
  line-height: 0;
}

#tiimi #hallinto {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tiimi #myynti {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tiimi h2,
#tiimi h4 {
  text-transform: uppercase;
  font-weight: 700;
}

#tiimi i {
  color: #18447e;
  font-size: 3rem;
  margin-bottom: 10px;
}

#tiimi hr {
  height: 5px;
}

footer {
  margin: 20px;
  line-height: 0.8;
  margin-bottom: 120px;
  border-radius: 10px;
  background: #18447e;
  -webkit-box-shadow: inset 2px 3px 12px #082f66;
          box-shadow: inset 2px 3px 12px #082f66;
  padding: 10px;
  color: white;
}

footer h3,
footer h5 {
  font-weight: 700;
}

footer i {
  font-size: 3rem;
  color: white;
  margin-top: 10px;
}

/* piilota luokka */
.piilota {
  display: none;
}

/* tummaversio */
/* body.tumma {
	background: $prim-tumma;
	color: rgba($color: #ffffff, $alpha: 0.6);
}
#header.tumma {
	background: $prim-tumma;

	background: #2f2828;
	box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
}
#otsikko-kehys.tumma {
	color: #ffc107;
}
#palvelumme.tumma {
	background: $prim-tumma;
	@include varjo-koholla-tumma();
}
#lupauksemme.tumma {
	background: $prim-tumma;
	@include varjo-koholla-tumma();
}
.toggle.tumma {
	isolation: isolate;
	position: relative;
	height: 30px;
	width: 60px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: -8px -4px 8px 0px #000000, 8px 4px 12px 0px #141414, 4px 4px 4px 0px #666668 inset,
		-4px -4px 4px 0px #0e0d0d inset;
}
.grid.tumma {
	background: $prim-tumma;
}
label.tumma {
	color: $prim-purple;
}
section.tumma {
	i {
		color: $prim-red;
	}
}
footer.tumma {
	@include varjo-painunut-tumma();
}
 */
/* mediaqueryt ja isomman version asetukset */
@media screen and (min-width: 992px) {
  #tietoa-meistä img {
    margin-top: 20%;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    padding-left: 50px;
    padding-right: 50px;
  }
  #palvelumme {
    height: 100%;
    /* 	p {
			margin-left: 20px;
			margin-right: 20px;
		} */
  }
  #palvelumme img {
    width: 100%;
  }
  #tietoa-meistä {
    margin-top: 40px;
  }
  #tietoa-meistä::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #tietoa-meistä img {
    margin-top: 50px;
    width: 70%;
  }
  #lupauksemme::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #yhteystiedot::before {
    content: "";
    display: block;
    height: 20px;
    /* fixed header height*/
    margin: -20px 0 0;
    /* negative fixed header height */
  }
  #yhteystiedot img {
    margin-top: 50px;
  }
  #yhteystiedot h3 {
    margin: 30px;
  }
  #tarinamme {
    border-radius: 16px;
    background: #ffffff;
    -webkit-box-shadow: 13px 13px 26px #dedede, -13px -13px 26px #ffffff, 2px 2px 7px #6a6a6b;
            box-shadow: 13px 13px 26px #dedede, -13px -13px 26px #ffffff, 2px 2px 7px #6a6a6b;
  }
  #tarinamme img {
    width: auto;
    height: 80%;
    margin: auto;
    padding-top: 40px;
  }
  #tiimi {
    line-height: 0;
  }
  #tiimi::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #tiimi i {
    color: #18447e;
  }
  #tiimi #hallinto {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #tiimi #myynti {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer {
    padding: 3rem;
  }
}
/*# sourceMappingURL=tyyli.css.map */