$transition-time: 0.3s;
$bg-color: #ffffff;

$prim-tc: #18447e;

$color: #2f2828;
$prim-tumma: #2f2828;
@mixin varjo-koholla {
	border-radius: 37px;
	background: #18447e;
	box-shadow: 12px 12px 20px 5px rgb(207, 206, 206);
	h2,
	h4 {
		color: white;
	}
	p {
		color: white;
	}
}

@mixin vaalea-varjo-koholla {
	border-radius: 16px;
	background: #ffffff;
	box-shadow: 13px 13px 26px #dedede, -13px -13px 26px #ffffff, 2px 2px 7px #6a6a6b;
}

@mixin varjo-painunut {
	border-radius: 10px;
	background: #18447e;
	box-shadow: inset 2px 3px 12px #082f66;
}

@mixin vaalea-varjo-painunut {
	border-radius: 5px;
	background: #ffffff;
	box-shadow: inset 13px 13px 26px #dedede, inset -13px -13px 26px #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $bg-color;
	color: black;
	font-family: 'Montserrat', sans-serif;
	transition: $transition-time;
}
/* navbar */
.navbar {
	margin: 0;
	padding: 0;

	.container-fluid {
		background: $prim-tc;
	}
	img {
		width: 70%;
	}

	.dropdown-menu {
		a:hover {
			background-color: $prim-tc;
			color: white;
		}
	}
}

.container {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}
.landing {
	video {
		object-fit: cover;
		width: 100vw;
		height: 100vh;
		position: relative;
		top: 0;
		left: 0;
	}
}

.selitys {
	position: absolute;
	bottom: 40vh;
	left: 0;
	right: 0;

	color: white;
	h1 {
		font-weight: 700;
		font-size: clamp(1.9rem, 5vw, 4rem);

		h4 {
			font-weight: 700;
			font-size: clamp(1.4rem, 4vw, 3rem);
		}
	}
}

/* buttonit */
.btn {
	border-radius: 500px;
	background: $prim-tc;
	color: white;
}
.perus {
	padding: 5px 60px;
}

.btn-group {
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 60px;
	img {
		width: 25px;
	}

	i {
		font-size: 1.5rem;
	}
	.btn {
		border-radius: 0;
		font-size: 0.7rem;
		background-color: $prim-tc;
		color: white;

		border: $prim-tc;
	}
}
.nappi {
	margin-top: 2vh;
	background-color: $prim-tc;
	color: white;
}
/* sectionit alkaa */
section {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	h4,
	h2 {
		margin-bottom: 20px;
		padding: 10px;
	}
	i {
		font-size: 2rem;
		margin-bottom: 10px;
		color: white;
	}
	p {
		margin-bottom: 10px;
		padding: 10px;
	}
	a {
		margin-bottom: 10px;
		padding: 10px;
	}
	#palvelumme {
		@include varjo-koholla();
		border-radius: 10px;
	}
	picture {
		margin: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		max-width: 70%;
	}
}

#lupauksemme {
	@include varjo-koholla();
	padding: 2rem;
}
#yhteystiedot {
	h4 {
		margin-bottom: 0;
	}
	img {
		max-width: 70%;
	}
	p {
		line-height: 0;
	}
}
form {
	display: inline-block;
	height: 550px;
	@include vaalea-varjo-koholla();
	padding: 10px 10px;
	border-radius: 10px;
}
.field {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	label {
		padding-left: 5px;
		transition: all 0.3s ease-in;
		transform: translateY(-28px);
		pointer-events: none;
		opacity: 0.5;
	}
	input,
	textarea {
		padding: 5px;
		border: none;
		@include vaalea-varjo-painunut();
	}
	input:focus {
		border-bottom: 2px solid black;
	}
	input:focus + label {
		transform: translateY(-1px);

		transform: scale(1.4);
		opacity: 1;
	}
	textarea:focus,
	input:focus {
		outline: none;
	}
	textarea:focus + label {
		transform: translateY(-270px);
		transform: scale(1.4);
		opacity: 1;
	}
}

#tarinamme {
	.btn {
		z-index: 3;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 700;
	}
}
.shake {
	width: 70%;
}
#tiimi {
	line-height: 0;
	#hallinto {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#myynti {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2,
	h4 {
		text-transform: uppercase;
		font-weight: 700;
	}
	i {
		color: $prim-tc;
		font-size: 3rem;
		margin-bottom: 10px;
	}
	hr {
		height: 5px;
	}
}

footer {
	margin: 20px;
	line-height: 0.8;
	margin-bottom: 120px;
	@include varjo-painunut();
	padding: 10px;
	color: white;
	h3,
	h5 {
		font-weight: 700;
	}
	i {
		font-size: 3rem;
		color: white;

		margin-top: 10px;
	}
}
/* piilota luokka */
.piilota {
	display: none;
}

/* tummaversio */

/* body.tumma {
	background: $prim-tumma;
	color: rgba($color: #ffffff, $alpha: 0.6);
}
#header.tumma {
	background: $prim-tumma;

	background: #2f2828;
	box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
}
#otsikko-kehys.tumma {
	color: #ffc107;
}
#palvelumme.tumma {
	background: $prim-tumma;
	@include varjo-koholla-tumma();
}
#lupauksemme.tumma {
	background: $prim-tumma;
	@include varjo-koholla-tumma();
}
.toggle.tumma {
	isolation: isolate;
	position: relative;
	height: 30px;
	width: 60px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: -8px -4px 8px 0px #000000, 8px 4px 12px 0px #141414, 4px 4px 4px 0px #666668 inset,
		-4px -4px 4px 0px #0e0d0d inset;
}
.grid.tumma {
	background: $prim-tumma;
}
label.tumma {
	color: $prim-purple;
}
section.tumma {
	i {
		color: $prim-red;
	}
}
footer.tumma {
	@include varjo-painunut-tumma();
}
 */
/* mediaqueryt ja isomman version asetukset */

@media screen and (min-width: 992px) {
	#tietoa-meistä {
		img {
			margin-top: 20%;
		}
	}
}

@media screen and (min-width: 992px) {
	.btn {
		padding-left: 50px;
		padding-right: 50px;
	}

	#palvelumme {
		height: 100%;

		img {
			width: 100%;
		}
		/* 	p {
			margin-left: 20px;
			margin-right: 20px;
		} */
	}
	#tietoa-meistä {
		&::before {
			content: "";
			display: block;
			height: 30px; /* fixed header height*/
			margin: -30px 0 0; /* negative fixed header height */
		}
		margin-top: 40px;
		img {
			margin-top: 50px;
			width: 70%;
		}
	}
	#lupauksemme {
		&::before {
			content: "";
			display: block;
			height: 30px; /* fixed header height*/
			margin: -30px 0 0; /* negative fixed header height */
		}
	}
	#yhteystiedot {
		&::before {
			content: "";
			display: block;
			height: 20px; /* fixed header height*/
			margin: -20px 0 0; /* negative fixed header height */
		}
		img {
			margin-top: 50px;
		}
		h3 {
			margin: 30px;
		}
	}

	#tarinamme {
		@include vaalea-varjo-koholla();
		img {
			width: auto;
			height: 80%;
			margin: auto;
			padding-top: 40px;
		}
	}
	#tiimi {
		&::before {
			content: "";
			display: block;
			height: 30px; /* fixed header height*/
			margin: -30px 0 0; /* negative fixed header height */
		}
		i {
			color: $prim-tc;
		}
		line-height: 0;
		#hallinto {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		#myynti {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	footer {
		padding: 3rem;
	}
}
