@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e3f2fd;
  color: black;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* navbar */
.navbar {
  margin: 0;
  padding: 0;
}

.navbar .container-fluid {
  background: #ffc107;
}

.navbar img {
  width: 70%;
}

.navbar button {
  background: #bb86fc;
}

.navbar .dropdown-menu {
  background: #ffc107;
}

.navbar .dropdown-menu li a:hover {
  background-color: #eed37b;
}

.container {
  text-align: center;
}

a {
  text-decoration: none;
  color: #03dac5;
}

.landing {
  height: 100vh;
  position: relative;
}

.landing::after {
  content: "";
  background: url(/img/TCsvg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background: #e3f2fd;
  -webkit-box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
          box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
}

header img {
  width: 50px;
  margin: 30px;
}

header h5 {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 700;
}

header #mode {
  margin-right: 40px;
  padding: 20px;
  border-radius: 50%;
  background-color: #bb86fc;
}

/* kytkin */
.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-right: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  margin-right: 20px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
          box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #03dac5;
  border-radius: 15px;
  -webkit-transform: translate3d(-75%, 0, 0);
          transform: translate3d(-75%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: -webkit-transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35), -webkit-transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  -webkit-box-shadow: -2px -2px 8px 0px #039485, 4px 4px 12px 0px #029687;
          box-shadow: -2px -2px 8px 0px #039485, 4px 4px 12px 0px #029687;
}

.toggle-state:checked ~ .indicator {
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

/* tervetuloa animaatiot */
.ml15 {
  font-weight: 700;
  font-size: clamp(1.6em, 2.5vw, 3em);
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.ml12 {
  margin-top: 100px;
  font-weight: 700;
  font-size: clamp(0.8em, 2.5vw, 2em);
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml13 {
  font-weight: 700;
  font-size: clamp(0.8em, 2.5vw, 2em);
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}

.nappi {
  font-size: clamp(1em, 2.5vw, 2em);
  margin-top: 100px;
}

/* buttonit */
.btn {
  border-radius: 500px;
}

.btn-group {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-group img {
  width: 25px;
}

.btn-group a {
  color: black;
}

.btn-group i {
  color: black;
  font-size: 1.5rem;
}

.btn-group .btn {
  border-radius: 0;
  font-size: 0.7rem;
}

/* sectionit alkaa */
section {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

section h2 {
  margin-bottom: 20px;
  padding: 10px;
}

section i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #03dac5;
}

section p {
  margin-bottom: 10px;
  padding: 10px;
}

section a {
  margin-bottom: 10px;
  padding: 10px;
}

section #palvelumme {
  border-radius: 20px;
  background: #e3f2fd;
  -webkit-box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
          box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
  border-radius: 20px;
}

section #palvelumme img {
  max-width: 70%;
}

section #lupauksemme {
  border-radius: 20px;
  background: #e3f2fd;
  -webkit-box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
          box-shadow: 27px 27px 54px #8a949a, -27px -27px 54px #ffffff;
}

section #yhteystiedot img {
  max-width: 70%;
}

section #yhteystiedot p {
  line-height: 0;
}

section form {
  display: inline-block;
  height: 500px;
}

section .field {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .field label {
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  pointer-events: none;
  opacity: 0.83;
}

section .field input,
section .field textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

section .field input:focus {
  border-bottom: 2px solid black;
}

section .field input:focus + label {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 1;
}

section .field textarea:focus,
section .field input:focus {
  outline: none;
}

section .field textarea:focus + label {
  -webkit-transform: translateY(-270px);
          transform: translateY(-270px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 1;
}

section #tarinamme {
  margin: 20px;
}

section #tarinamme h1 {
  text-transform: uppercase;
  font-weight: 700;
}

section #tiimi {
  line-height: 0;
}

section #tiimi #hallinto {
  margin-top: 10px;
  margin-bottom: 10px;
}

section #tiimi #myynti {
  margin-top: 10px;
  margin-bottom: 10px;
}

section #tiimi h2,
section #tiimi h4 {
  text-transform: uppercase;
  font-weight: 700;
}

section #tiimi i {
  font-size: 3rem;
  margin-bottom: 10px;
}

section #tiimi hr {
  height: 5px;
}

footer {
  margin: 20px;
  line-height: 0.8;
  margin-bottom: 120px;
  border-radius: 20px;
  background: #e3f2fd;
  -webkit-box-shadow: inset 20px 20px 60px #c1ced7, inset -20px -20px 60px #ffffff;
          box-shadow: inset 20px 20px 60px #c1ced7, inset -20px -20px 60px #ffffff;
  padding: 10px;
}

footer h3,
footer h5 {
  font-weight: 700;
}

footer i {
  font-size: 3rem;
  color: #18447e;
  margin-top: 10px;
}

/* piilota luokka */
.piilota {
  display: none;
}

/* tummaversio */
body.tumma {
  background: #2f2828;
  color: rgba(255, 255, 255, 0.6);
}

#header.tumma {
  background: #2f2828;
  border-radius: 20px 20px 0 0;
  background: #2f2828;
  -webkit-box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
          box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
}

#palvelumme.tumma {
  background: #2f2828;
  border-radius: 20px;
  background: #2f2828;
  -webkit-box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
          box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
}

#lupauksemme.tumma {
  background: #2f2828;
  border-radius: 20px;
  background: #2f2828;
  -webkit-box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
          box-shadow: 27px 27px 54px #262020, -27px -27px 54px #383030;
}

.toggle.tumma {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: -8px -4px 8px 0px #000000, 8px 4px 12px 0px #141414, 4px 4px 4px 0px #666668 inset, -4px -4px 4px 0px #0e0d0d inset;
          box-shadow: -8px -4px 8px 0px #000000, 8px 4px 12px 0px #141414, 4px 4px 4px 0px #666668 inset, -4px -4px 4px 0px #0e0d0d inset;
}

.grid.tumma {
  background: #2f2828;
}

label.tumma {
  color: #bb86fc;
}

section.tumma i {
  color: #ff0266;
}

footer.tumma {
  border-radius: 20px;
  background: #2f2828;
  -webkit-box-shadow: inset 20px 20px 60px #282222, inset -20px -20px 60px #362e2e;
          box-shadow: inset 20px 20px 60px #282222, inset -20px -20px 60px #362e2e;
}

/* mediaqueryt ja isomman version asetukset */
@media screen and (min-width: 992px) {
  #tietoa-meistä img {
    margin-top: 20%;
  }
}

@media screen and (min-width: 992px) {
  .btn-warning {
    padding-left: 50px;
    padding-right: 50px;
  }
  .card-group {
    left: 50%;
    margin-left: -205px;
    margin-top: -90px;
  }
  .grid .pallo {
    height: 150px;
    width: 150px;
  }
  .grid .nro2 {
    height: 200px;
    width: 200px;
  }
  .card {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    /* This will produce the blur */
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .logo img,
  .chip img,
  .number,
  .name,
  .from,
  .to,
  .ring {
    position: absolute;
    /* All items inside card should have absolute position */
  }
  .logo img {
    top: 35px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0.8;
  }
  .chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
  }
  .number,
  .name,
  .from,
  .to {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }
  .number {
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
  }
  .name {
    font-size: 1rem;
    left: 40px;
    bottom: 35px;
  }
  .from {
    font-size: 0.5rem;
    bottom: 35px;
    right: 110px;
  }
  .to {
    font-size: 0.5rem;
    bottom: 35px;
    right: 40px;
  }
  #palvelumme {
    height: 100%;
    padding: 50px;
    /* 	p {
			margin-left: 20px;
			margin-right: 20px;
		} */
  }
  #palvelumme img {
    width: 100%;
    margin-top: 20%;
  }
  #tietoa-meistä {
    margin-top: 40px;
  }
  #tietoa-meistä::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #tietoa-meistä img {
    margin-top: 50px;
    width: 70%;
  }
  #lupauksemme {
    margin-left: 200px;
    margin-right: 200px;
  }
  #lupauksemme::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #yhteystiedot::before {
    content: "";
    display: block;
    height: 20px;
    /* fixed header height*/
    margin: -20px 0 0;
    /* negative fixed header height */
  }
  #yhteystiedot img {
    margin-top: 50px;
  }
  #yhteystiedot h3 {
    margin: 30px;
  }
  #tarinamme {
    margin: 80px;
  }
  #tarinamme img {
    width: auto;
    height: 80%;
    margin: auto;
    padding-top: 40px;
  }
  #tiimi {
    line-height: 0;
  }
  #tiimi::before {
    content: "";
    display: block;
    height: 30px;
    /* fixed header height*/
    margin: -30px 0 0;
    /* negative fixed header height */
  }
  #tiimi #hallinto {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #tiimi #myynti {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=tyyli.css.map */